* {
    box-sizing: border-box;
}

body {
    background-color: #ebe5e5;
    text-align: center;
    width: 100%;
    height: 100vh;
}

h1 {
    padding-top: 15vh;
    font-size: 3rem;
}

img {
    border-radius: 50%;
    width: 20%;
}

h2 {
    padding-top: 15vh;
    font-size: 3rem;
}

h3 {
    padding-top: 2vh;
    font-size: 1.7rem;
}

h3 {
    padding-top: 2vh;
    font-size: 1.5rem;
}